{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="bg-border">
        <div class="container">
            <h1 class="title">Borough Bot Search</h1>
            <div class="row d-flex align-items-center">
                <div class="col align-self-center">
                    <div class="my-5 p-5 text-center d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <div class="atags">
                                    <a type="button" class="link border-right" href="{% url 'richmond' %}">Richmond</a>
                                    <a type="button" class="link" href="{% url 'kingston' %}">Kingston</a>
                                </div>
                                <div class="atags">
                                    <a type="button" class="link border-right" href="{% url 'elmbridge' %}">elmbridge</a>
                                    <a type="button" class="link woking-m" href="{% url 'woking' %}">Woking</a>
                                </div>
                                <div class="atags">
                                    <a type="button" class="link border-right" href="{% url 'southwark' %}">Southwark</a>
                                    <a type="button" class="link" href="{% url 'guildford' %}">Guildford</a>
                                </div>
                                <div class="atags">
                                    <a type="button" class="link border-right epsom-m" href="{% url 'epsom' %}">Epsom</a>
                                    <a type="button" class="link" href="{% url 'lewisham' %}">Lewisham</a>
                                </div>
                                <div class="atags">
                                    <a type="button" class="link border-right" href="{% url 'hammersmith_fulham' %}">Hammersmith & <br> Fulham</a>
                                    <a type="button" class="link bromley-m" href="{% url 'kingston' %}">Merton</a>
                                </div>
                                <div class="atags">
                                    <a type="button" class="link border-right" href="{% url 'richmond' %}">Kensington & <br> Chelsea</a>
                                    <a type="button" class="link merton-m" href="{% url 'bromley' %}">Bromley</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
