{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <h1>test</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-start align-items-center mx-5 ">
            <h2 class="pt-5 px-5">Scraping Infrastructure</h2>
          </div>
        </div>
        <div class="row border-b">
          <div class="col d-flex justify-content-start align-items-center mx-5 ">
            <div class="tabs fs-6 px-5 mt-3">
                <a class="text-dark" href="">My Scrapes</a>
                <a class="text-dark" href="">Dashboard</a>
                <a class="text-dark" href="">Contact Support</a>
            </div>
          </div>
        </div>

        <div class="row my-3">
            <div class="col px-5 d-flex justify-content-end">
                <a href="" class="btn add-btn">Add</a>
            </div>
        </div>

        <div class="row my-3">
            <div class="col px-5">
                <table class="table table-borderless">
                    <thead class="tbody-border">
                        <tr>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          <th class="fw-light" scope="col">First</th>
                          
                        </tr>
                      </thead>
                      <tbody class="tbody-border fw-normal">
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>@fat</td>
                          <td>@fat</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Larry the Bird</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    
                </table>
               
                
                
            </div>
        </div>
    </div>

    
</body>
</html>