{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row bg-home">
    <div class="col m-5 flex-column text-light d-flex justify-content-center align-items-start">
        <h1 class="">Unlock the<br><span class="key-word">Power of Data</span> for Your Business</h1>
        <p class="subtitle">Borough bot search is your intelligent assistant for gathering valuable insights about potential clients. Our bot scours the web to provide</p>
        <button class=" my-4 btn home-btn d-flex align-items-center justify-content-center">Get Started Here <span class="arrow"><i class="fa-solid fa-arrow-right "></i></span></button>
    </div>
    <div class="col p-0">
        <img src="{% static 'images/business-growth.png' %}" class='home-img img-fluid' alt="">
    </div>
</div>
<div class="row bg-home">
    <div class="col mx-5">
        <h3 class="my-4">Why Choose Us?</h3>
        <div class="bullet-points flex-column d-flex justify-content-center align-items-start gap-3">
            <div class="point">
                <i class="fa-solid fa-check"></i>
                <p class="p-margin">this oaisdoai jdoi ajsd </p>
            <div class="point">
                <i class="fa-solid fa-check"></i>
                <p class="p-margin">this oaisdoai jdoi ajsd </p>
            </div>
            <div class="point">
                <i class="fa-solid fa-check"></i>
                <p class="p-margin">this oaisdoai jdoi ajsd </p>
            </div>
            <div class="point">
                <i class="fa-solid fa-check"></i>
                <p class="p-margin">this oaisdoai jdoi ajsd </p>
            </div>

        </div>
    </div>
</div>


<script
  src="https://kit.fontawesome.com/b2fe83387a.js"
  crossorigin="anonymous"
></script>
{% endblock %}
